@tailwind base;
@tailwind components;
@tailwind utilities;

.senderbox {
  border-radius: 0px 14px 14px 14px;
  border: 1px solid #323232;
  background: #292929;
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 3.5rem;
}

.recieverbox {
  border-radius: 14px 0px 14px 14px;
  border: 1px solid #00a3ff;
  background: #00a3ff;
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 3.5rem;
}

.username {
  color: #dadada;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.titlebox {
  border-bottom: 1px solid #303030;
  background: #121212;
  @apply flex flex-row items-center justify-between border-b-2;
}

.sendmsg {
  border-radius: 12px;
  background: #00a3ff;
  width: 100px;
  height: 46.608px;
  flex-shrink: 0;
}

.inputbox {
  background-image: url("../public/smile.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 10px;
  position: sticky;
  bottom: 0;
  height: 50px;
  flex-shrink: 0;
  border-top: 1px solid #303030;
  background: #121212;
  @apply w-11/12 pl-5;
}

.scrollbox {
  height: 100%;
  max-height: 650px;
}
